* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bigContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.7rem;
  background-color: rgb(2, 2, 36);
}

.card {
  flex: 0 0 30%;
  height: 300px;
  padding: 0.5rem;
  border: 1px solid white;
  background-color: rgb(10, 125, 131);
  margin-bottom: 0.8rem;
}

.image {
  width: 60%;
}

.card img {
  width: 100px;
}

.content {
  width: 40%;
  text-align: center;
  line-height: 1.5rem;
  color: white;
  font-size: 0.8rem;
}

.content h1 {
  font-size: 1rem;
}
